name: CI
on:
  push:
    branches:
      - main
jobs:
  check:
    name: Code Quality Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install NPM dependencies
        run: npm ci
      - name: Check dependencies size
        run: du -sh node_modules
      - name: Syntax specification checking using ESLint
        run: npm run lint
      - name: Run NPM audit
        run: npm audit
  test:
    name: Unit Test
    needs: check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install NPM dependencies
        run: npm ci
      - name: Check dependencies size
        run: du -sh node_modules
      - name: Ensure config directory exists
        run: mkdir -p ./test/config
      - name: Export config TEST_SERVER
        run: echo '${{ secrets.TEST_SERVER }}' > ./test/config/server.json
      - name: Unit test using Jest
        run: npm test
